* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
}
:root {
  --color-primary: #609ca7;
  --color-bgHero: linear-gradient(
    90deg,
    rgba(219, 223, 227, 1) 0%,
    rgba(152, 160, 168, 1) 100%
  );
  --color-font1: #ccc;
  --color-note1: linear-gradient(
    90deg,
    rgba(64, 75, 93, 1) 0%,
    rgba(46, 55, 70, 1) 100%
  );
  --color-primaryG: linear-gradient(
    90deg,
    rgb(35, 76, 83) 0%,
    rgba(71, 107, 116, 1) 100%
  );
}
::-webkit-scrollbar {
  background: var(--color-bgHero);
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primaryG);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-bgHero);
  color: var(--color-font1);
}

.navBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  top: 0;
  height: 4rem;
  width: 100%;
  background: var(--color-primaryG);
  z-index: 99;
  cursor: pointer;
  user-select: none;
}

.navBar .logo {
  height: 100%;
  width: 9rem;
  max-width: 15rem;
  object-fit: contain;
}

.navBar .addNewNote {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-font1);
  font-size: 2rem;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.addNewNote:hover {
  outline: 2px dotted var(--color-font1);
  scale: 1.1;
}
.txt-newNote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-font1);
  user-select: none;
}

.master {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 1rem;
  margin-top: 4rem;
  width: 100%;
  height: 85vh;
  overflow-y: auto;
}

.note {
  display: flex;
  height: 25rem;
}

.note .notes {
  width: 25rem;
  height: 25rem;
  text-align: justify;
  background: var(--color-note1);
  box-shadow: 7px 7px 11px #525252, -7px -7px 11px #acacac;
  overflow: hidden;
}
.note .notes .tools {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 25rem;
  gap: 0.5rem;
  padding: 0.5rem;
  background: var(--color-primary);
  box-shadow: inset 20px 20px 60px #305f69, inset -20px -20px 60px #6eb3c0;
  z-index: 2;
}

.note .notes .tools button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--color-font1);
  cursor: pointer;
  z-index: 2;
}

.tools button:hover {
  outline: 2px dotted var(--color-font1);
}

.tools button [name='create']:hover,
.tools button [name='trash']:hover {
  scale: 1.1;
}
.tools button [name='trash']:hover,
.tools button [name='trash']:active {
  color: #dd2a2a;
}
.note .notes .main {
  height: 100%;
  width: 100%;
  padding: 3rem 1rem 0.5rem 1.5rem;
  font-size: 1rem;
  overflow: auto;
}

.note .notes .main * li {
  margin-left: 2rem;
}

.note .notes textarea {
  position: absolute;

  width: 25rem;
  height: 25em;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 3rem 1rem 1rem 1.5rem;
  background: transparent;
  color: var(--color-font1);
  text-align: justify;
  resize: none;
  outline: 0.2rem dotted var(--color-primary);
}

.notes textarea::placeholder {
  font-size: 0.9rem;
  color: #cccccc8e;
}
.note .notes .hidden {
  display: none;
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  background: transparent;
  z-index: 3;
}

footer a {
  position: absolute;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

footer a .logoC {
  height: 2rem;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primaryG);
  width: 100%;
  padding: 0.5rem;
}

footer:hover div {
  animation: hiddenFooter 0.5s ease forwards;
}

footer:hover a {
  background: var(--color-primaryG);
  border-left: 0.3rem solid var(--color-primary);
}

@keyframes hiddenFooter {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(40px);
  }
}

@media (max-width: 768px) {
  .master {
    height: 100%;
  }
  .note .notes {
    height: 20.5rem;
    width: 20.5rem;
  }

  .note .notes .tools {
    width: 20.5rem;
  }
  .note .notes textarea {
    width: 20.5rem;
    height: 20.5rem;
    font-size: 1rem;
  }

  footer {
    font-size: 0.8rem;
  }
  footer a {
    padding-left: 1rem;
  }
  footer div {
    padding: 1rem;
  }
}
